body {
    background-image: url("./images/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}


p{
    text-align: center;
    width: 680px;
    font-size: 1.5rem;
}

h3{
    text-align: center;
    width: 680px;
    font-weight: 900;
    font-size: 3rem;
}

/* .circle-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;

    z-index: -1; */
}

.content {
    
}

 
